{% extends "template_base.html" %}

{% block title %}Alert List{% endblock %}

{% block content %}
<a href={% url "alert-create" %}>Create new alert</a>
{% if object_list %}
    <table class="pure-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Command</th>
            <th>Equality</th>
            <th>Threshold</th>
            <th>Time</th>
            <th>Message</th>
            <th>Servers</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for alert in object_list %}
        <tr>
            <td>{{ alert.id }}</td>
            <td>{{ alert.name }}</td>
            <td>{{ alert.command }}</td>
            <td>{{ alert.equality }}</td>
            <td>{{ alert.threshold }}</td>
            <td>{{ alert.time }}</td>
            <td>{{ alert.message }}</td>
            <td>
            {% if alert.servers %}
                {% for server in script.servers.all %}
                    {{ server }},
                {% endfor %}
            {% endif %}
            </td>
            <td><a href={% url "alert-detail" alert.id %}>Details</a></td>
            <td><a href={% url "alert-update" alert.id %}>Edit</a> </td>
            <td><a href={% url "alert-delete" alert.id %}>Delete</a> </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No alerts listed</p>
{% endif %}
{% endblock %}
