{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
    <h1>Welcome to VM monitor server</h1>
    <a href={% url "script-list" %}>List scripts</a><br />
    <a href={% url "user-list" %}>List users</a><br />
    <a href={% url "alert-list" %}>List Alerts</a><br />
    <a href={% url "server-list" %}>List servers</a>
{% endblock %}