{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
<a href={% url "script-create" %}>Create new script</a>
{% if object_list %}
    <table class="pure-table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>file</th>
            <th>description</th>
            <th>servers</th>
            <th>Execute</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for script in object_list %}
        <tr>
            <td>{{ script.id }}</td>
            <td>{{ script.name }}</td>
            <td>{{ script.file }}</td>
            <td>{{ script.description }}</td>
            <td>
            {% if script.servers %}
                {% for server in script.servers.all %}
                    {{ server }},
                {% endfor %}
            {% endif %}
            </td>
            <td><a href="#">Run</a></td>
            <td><a href={% url "script-detail" script.id %}>Details</a></td>
            <td><a href={% url "script-update" script.id %}>Edit</a> </td>
            <td><a href={% url "script-delete" script.id %}>Delete</a> </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No scripts listed</p>
{% endif %}
{% endblock %}
