{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}

<div class="pure-form pure-form-aligned" >
    <div class="pure-controls">
        <legend>Script details</legend>
    </div>
    <div class="pure-control-group">
        <label for="id_id">ID:</label>
        {{ script.id }}
    </div>
    <div class="pure-control-group">
        <label for="id_name">Name:</label>
        {{ script.name }}
    </div>
    <div class="pure-control-group">
        <label for="id_file">File:</label>
        {{ script.file }}
    </div>
    <div class="pure-control-group">
        <label for="id_description">Description:</label>
        {{ script.description }}
    </div>
    <div class="pure-control-group">
        <label for="id_server">Servers:</label>
        {% for server in script.servers.all %}
            {{ server.ip }},
        {% endfor %}
    </div>
    <div class="pure-controls">
        <a href="{% url "script-list" %}">back to script list</a>
        <a href="{% url "index" %}">Back to index</a>
    </div>
</div>
{% endblock %}