{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
<form method="POST" class="pure-form pure-form-aligned" enctype="multipart/form-data">
    <fieldset>
        <div class="pure-controls">
            <legend>Update script</legend>
        </div>
        {{ form.non_field_errors }}
        {% csrf_token %}
        <div class="pure-control-group">
            {{ form.name.errors }}
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div class="pure-control-group">
            {{ form.file.errors }}
            <label for="id_file">File:</label>
            {{ form.file }}
        </div>
        <div class="pure-control-group">
            {{ form.description.errors }}
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div class="pure-control-group">
            {{ form.servers.errors }}
            <label for="id_servers">Servers:</label>
            {{ form.servers }}
            <span class="helptext"> Hold down "Control", or "Command" on a Mac, to select more than one.</span>
        </div>
        <div class="pure-controls">
            <input type="submit" value="Update" class="pure-button pure-button-primary"/>
            <a href="{% url "script-list" %}">back to script list</a>
            <a href="{% url "index" %}">Back to index</a>
        </div>
    </fieldset>
</form>

{% endblock %}