{% extends "template_base.html" %}

{% block title %}Delete Script{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <a href="{% url "index" %}">Back to index</a>
    <input type="submit" value="Confirm" class="pure-button pure-button-primary"/>
</form>
{% endblock %}