<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search {%  if query %} Results {% endif %}</title>
</head>
<body>
<h1>Search</h1>
<form action="." method="get">
    <label for="q">Search</label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
</form>
{% if query %}
<h2>Results for "{{ query|escape }}":</h2>
    {% if results %}
    <ul>
        {% for book in results %}
        <li>{{ book }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p> No books found</p>
    {% endif %}
{% endif %}
</body>
</html>