{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
<a href={% url "server-create" %}>Create new server</a>

{% if object_list %}
    <table class="pure-table">
    <thead>
        <tr>
            <th>id</th>
            <th>ip</th>
            <th>name</th>
            <th>location</th>
            <th>Scripts</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for server in object_list %}
        <tr>
            <td>{{ server.id }}</td>
            <td>{{ server.ip }}</td>
            <td>{{ server.name }}</td>
            <td>{{ server.location }}</td>
            <td>
                {% for script in server.script_set.all %}
                    {{ script }} |
                {% endfor %}
            </td>
            <td><a href={% url "server-detail" server.id %}>Details</a></td>
            <td><a href={% url "server-update" server.id %}>Edit</a> </td>
            <td><a href={% url "server-delete" server.id %}>Delete</a> </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No servers listed</p>
{% endif %}

{% endblock %}
