{% extends "template_base.html" %}

{% block title %}Create new Server{% endblock %}

{% block content %}
<form action="{% url "server-create" %}" method="POST" class="pure-form pure-form-aligned" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <div class="pure-controls">
            <legend>Add new server</legend>
        </div>
        {{ form.non_field_errors }}
        {% csrf_token %}
        <div class="pure-control-group">
            {{ form.ip.errors }}
            <label for="id_ip">Ip:</label>
            {{ form.ip }}
        </div>
        <div class="pure-control-group">
            {{ form.name.errors }}
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div class="pure-control-group">
            {{ form.location.errors }}
            <label for="id_description">Location:</label>
            {{ form.location }}
        </div>
        <div class="pure-controls">
            <input type="submit" value="Create" class="pure-button pure-button-primary"/><br />
            <a href="{% url "server-list" %}">Back to server list</a>
            <a href="{% url "index" %}">Back to index</a>
        </div>
    </fieldset>
</form>
{% endblock %}