{% extends "template_base.html" %}

{% block title %}Delete Script{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" class="pure-button pure-button-primary" />
</form>

{% endblock %}