{% extends "template_base.html" %}

{% block title %}Server detail{% endblock %}

{% block content %}
<h1>Server details</h1>
<p>ID: {{ server.id }}</p>
<p>IP: {{ server.ip }}</p>
<p>LOCATION: {{ server.location }}</p>
<p>NAME: {{ server.name }}</p>
<p><a href={% url "server-list" %}>List servers</a> </p>

<div class="pure-form pure-form-aligned" >
    <div class="pure-controls">
        <legend>Server details</legend>
    </div>
    <div class="pure-control-group">
        <label for="id_id">ID:</label>
        {{ server.id }}
    </div>
    <div class="pure-control-group">
        <label for="id_ip">IP:</label>
        {{ server.ip }}
    </div>
    <div class="pure-control-group">
        <label for="id_location">Location:</label>
        {{ server.location }}
    </div>
    <div class="pure-control-group">
        <label for="id_name">Name:</label>
        {{ server.name }}
    </div>
    <div class="pure-controls">
        <a href="{% url "server-list" %}">back to server list</a>
        <a href="{% url "index" %}">back to index</a>
    </div>
</div>
{% endblock %}