<!DOCTYPE html>
<html>
<head>
    {% load socketio_tags %}
    {% socketio %}
    <script>
        var socket = new io.Socket();
        socket.connect();
        socket.on('connect', function() {
            socket.subscribe('socket');
            socket.send({server_id : "1"});
        });
    </script>
</head>
<body>
    <textarea id="txt"></textarea>
    <input type="button" id="send-btn" value="Send"></input>
    <div id="recive"></div>
</body>
</html>