{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_ul }}
  </ul>
  <input type="submit" value="Update" />
</form>

<a href="{% url "user-list" %}">back to users</a>
{% endblock %}