{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
<form action="{% url "user-create" %}" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_ul }}
  </ul>
  <input id="save_script" type="submit" value="Create" />
</form>

{#<a href="{% url "user-list" %}">back to script list</a>#}
{% endblock %}