{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
<h1>User details</h1>
<p>id: {{ serveruser.id }}</p>
<p>username: {{ serveruser.user.username }}</p>
<p>email: {{ serveruser.user.email }}</p>
<p>description: {{ serveruser.description }}</p>
<a href="{% url "user-list" %}">back to user list</a>
{% endblock %}