{% extends "template_base.html" %}

{% block title %}Script detail{% endblock %}

{% block content %}
<a href={% url "user-create" %}>Create new user</a>
{% if object_list %}
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    {% for serveruser in object_list %}
        <tr>
            <td>{{ serveruser.id }}</td>
            <td>{{ serveruser.user.username }}</td>
            <td>{{ serveruser.description }}</td>
            <td><a href={% url "user-detail" serveruser.id %}>Details</a></td>
            <td><a href={% url "user-delete" serveruser.id %}>Delete</a> </td>
            <td><a href={% url "user-update" serveruser.id %}>Edit</a> </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No scripts listed</p>
{% endif %}
{% endblock %}